.idea
*.iml
npm-debug.log
node_modules
.DS_Store
jsconfig.json
.tags
.tags1
__tmp
dist
dist-private
static-cache
package-lock.json
tgz
.vscode
.history
yarn-error.log
yarn.lock
.prettierrc
.prettierignore
