
* {
  font-family: PingFang SC,Microsoft YaHei,Helvetica Neue, Helvetica,  Hiragino Sans GB, SimSun, sans-serif;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  list-style:none;
  -webkit-font-smoothing: antialiased;
}

html, body, #root {
  height: 100%;
  width: 100%;
  min-width: 1300px;

}